/* テキスト入力 */
/* フォーカスされていない時 */
.mdl-textfield__input{
    border-bottom: 1px solid rgb(200, 200, 200);
}

/* フォーカスされている時 */
.is-focused .mdl-textfield__input{
    border-bottom: 1px solid rgb(255, 255, 255);
}

/*フォーカスされているが空欄*/
.mdl-textfield__label{
    border-bottom: 1px solid rgba(255, 255, 255);
}

.closed{
    display: none;
}

/*player css*/
#main{
    margin: 5px;  
  }
  #player{
    position:absolute;
    top:0px; 
    left:0px; 
    z-index: 1; 
  }
  
  #subtitle{
    position:absolute; 
    width: 100% !important;
    bottom: 20px; 
    text-align: center;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
    z-index: 2; 
  }
  
  #subtitle>span{
    line-height:1;
    font-size: 2.5vw;
    background-color: rgba(0,0,0,0.5);
  }
  
  #youtube-movie {
    background-color: #000;
    margin: 0 auto;
    width: 100%;
    max-width: calc(180vh - 150px);
  }
  
  #youtube-movie-content {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  }
  
  #youtube-movie-content iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
  }
  