/* テキスト入力 */
/* フォーカスされていない時 */
.mdl-textfield__input{
    border-bottom: 1px solid rgb(200, 200, 200);
}

/* フォーカスされている時 */
.is-focused .mdl-textfield__input{
    border-bottom: 1px solid rgb(255, 255, 255);
}

/*フォーカスされているが空欄*/
.mdl-textfield__label{
    border-bottom: 1px solid rgba(255, 255, 255);
}

.closed{
    display: none;
}